/* sit.rc: (S)ystem (I)ni (T)emplate resource file for use by ÊDesk   */
/* ------------------------------------------------------------------ */
/* This is based on the original INISYS.RC file from OS/2 Warp 4 (US) */

/**********************************************************************/
/* ÊDesk - Multiple desktops/users application for OS/2               */
/*         Copyright 2000-2001 Cristiano Guadagnino                   */
/**********************************************************************/

CODEPAGE 850

STRINGTABLE
BEGIN

  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""

  "PM_INFO"              "Version"            "4.0"
  "PM_SPOOLER"           "SPOOL"              "1;"
  "PM_SPOOLER"           "DIR"                "<@@boot_drive@@>\SPOOL;"
  "PM_SPOOLER_QP"        "PMPRINT"            "<@@boot_drive@@>\OS2\DLL\PMPRINT.QPR;;"
  "PM_SPOOLER_DD"        "IBMNULL"            "IBMNULL.DRV;;;"
  "PM_SPOOLER_PORT"      "LPT1"               ";"
  "PM_SPOOLER_PORT"      "LPT2"               ";"
  "PM_SPOOLER_PORT"      "LPT3"               ";"
  "PM_SPOOLER_PORT"      "COM1"               "9600;0;8;1;1;"
  "PM_SPOOLER_PORT"      "COM2"               "9600;0;8;1;1;"
  "PM_SPOOLER_PORT"      "COM3"               "9600;0;8;1;1;"
  "PM_SPOOLER_PORT"      "COM4"               "9600;0;8;1;1;"
END

STRINGTABLE REPLACEMODE
BEGIN

  "PM_OS2_Warp_3.0_Colors"   "ActiveBorder"          "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "ActiveTitle"           "110  78 158"
  "PM_OS2_Warp_3.0_Colors"   "ActiveTitleText"       "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "ActiveTitleTextBgnd"   "110  78 158"
  "PM_OS2_Warp_3.0_Colors"   "AppWorkspace"          "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "Background"            "  0   0 128"
  "PM_OS2_Warp_3.0_Colors"   "ButtonDark"            "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "ButtonDefault"         "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "ButtonLight"           "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "ButtonMiddle"          "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "DialogBackground"      "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "EntryField"            "255 255 204"
  "PM_OS2_Warp_3.0_Colors"   "FieldBackground"       "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "HelpBackground"        "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "HelpHilite"            "  0   0 255"
  "PM_OS2_Warp_3.0_Colors"   "HelpText"              "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "HiliteBackground"      "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "HiliteForeground"      "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "IconText"              "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "InactiveBorder"        "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "InactiveTitle"         "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "InactiveTitleText"     "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "InactiveTitleTextBgnd" "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "Menu"                  "204 204 204"
  "PM_OS2_Warp_3.0_Colors"   "MenuText"              "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "MenuHilite"            "110  78 158"
  "PM_OS2_Warp_3.0_Colors"   "MenuHiliteText"        "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "MenuDisabledText"      "160 160 160"
  "PM_OS2_Warp_3.0_Colors"   "OutputText"            "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "PageBackground"        "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "Scrollbar"             "192 192 192"
  "PM_OS2_Warp_3.0_Colors"   "Shadow"                "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "ShadowHiliteBgnd"      "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "ShadowHiliteFgnd"      "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "ShadowText"            "  0   0 255"
  "PM_OS2_Warp_3.0_Colors"   "TitleBottom"           "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "TitleText"             "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "Window"                "255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "WindowFrame"           "128 128 128"
  "PM_OS2_Warp_3.0_Colors"   "WindowStaticText"      "  0   0 128"
  "PM_OS2_Warp_3.0_Colors"   "WindowText"            "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "FolderIconTextBackground"    "T255 255 255"
  "PM_OS2_Warp_3.0_Colors"   "DesktopIconTextBackground"   "T 0 191 191"
  "PM_OS2_Warp_3.0_Colors"   "DesktopIconText"             "  0   0   0"
  "PM_OS2_Warp_3.0_Colors"   "TitlebarTextFont"      "10.System Proportional"
  "PM_OS2_Warp_3.0_Colors"   "MenuTextFont"          "10.System Proportional"
  "PM_OS2_Warp_3.0_Colors"   "IconTextFont"          "8.Helv"
  "PM_OS2_Warp_3.0_Colors"   "WindowTextFont"        "10.System Proportional"

  "PM_Custom_Colors"         "ActiveBorder"          "204 204 204"
  "PM_Custom_Colors"         "ActiveTitle"           " 64   0 128"
  "PM_Custom_Colors"         "ActiveTitleText"       "255 255 255"
  "PM_Custom_Colors"         "ActiveTitleTextBgnd"   " 64   0 128"
  "PM_Custom_Colors"         "AppWorkspace"          "204 204 204"
  "PM_Custom_Colors"         "Background"            "  0   0 128"
  "PM_Custom_Colors"         "ButtonDark"            "128 128 128"
  "PM_Custom_Colors"         "ButtonDefault"         "  0   0   0"
  "PM_Custom_Colors"         "ButtonLight"           "255 255 255"
  "PM_Custom_Colors"         "ButtonMiddle"          "204 204 204"
  "PM_Custom_Colors"         "DialogBackground"      "204 204 204"
  "PM_Custom_Colors"         "EntryField"            "255 255 255"
  "PM_Custom_Colors"         "FieldBackground"       "204 204 204"
  "PM_Custom_Colors"         "HelpBackground"        "255 255 255"
  "PM_Custom_Colors"         "HelpHilite"            "  0   0 255"
  "PM_Custom_Colors"         "HelpText"              "  0   0   0"
  "PM_Custom_Colors"         "HiliteBackground"      "128 128 128"
  "PM_Custom_Colors"         "HiliteForeground"      "255 255 255"
  "PM_Custom_Colors"         "IconText"              "  0   0   0"
  "PM_Custom_Colors"         "InactiveBorder"        "204 204 204"
  "PM_Custom_Colors"         "InactiveTitle"         "128 128 128"
  "PM_Custom_Colors"         "InactiveTitleText"     "204 204 204"
  "PM_Custom_Colors"         "InactiveTitleTextBgnd" "128 128 128"
  "PM_Custom_Colors"         "Menu"                  "204 204 204"
  "PM_Custom_Colors"         "MenuText"              "  0   0   0"
  "PM_Custom_Colors"         "MenuHilite"            " 64   0 128"
  "PM_Custom_Colors"         "MenuHiliteText"        "255 255 255"
  "PM_Custom_Colors"         "MenuDisabledText"      "160 160 160"
  "PM_Custom_Colors"         "OutputText"            "  0   0   0"
  "PM_Custom_Colors"         "PageBackground"        "255 255 255"
  "PM_Custom_Colors"         "Scrollbar"             "192 192 192"
  "PM_Custom_Colors"         "Shadow"                "  5   0 204"
  "PM_Custom_Colors"         "ShadowHiliteBgnd"      "128 128 128"
  "PM_Custom_Colors"         "ShadowHiliteFgnd"      "255 255 255"
  "PM_Custom_Colors"         "ShadowText"            "  0   0 255"
  "PM_Custom_Colors"         "TitleBottom"           "128 128 128"
  "PM_Custom_Colors"         "TitleText"             "255 255 255"
  "PM_Custom_Colors"         "Window"                "255 255 255"
  "PM_Custom_Colors"         "WindowFrame"           "128 128 128"
  "PM_Custom_Colors"         "WindowStaticText"      "  0   0 128"
  "PM_Custom_Colors"         "WindowText"            "  0   0   0"
  "PM_Custom_Colors"         "DesktopIconTextBackground"  "T"
  "PM_Custom_Colors"         "FolderIconTextBackground"   "T"
  "PM_Custom_Colors"         "DesktopIconText"       "  0   0   0"
  "PM_Custom_Colors"         "DesktopBackgroundBitmap"      "(none)"
  "PM_Custom_Colors"         "FolderBackgroundBitmap"       "\os2\bitmap\plaster.bmp"
  "PM_Custom_Colors"         "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Custom_Colors"         "MenuTextFont"          "9.WarpSans Bold"
  "PM_Custom_Colors"         "IconTextFont"          "9.WarpSans"
  "PM_Custom_Colors"         "WindowTextFont"        "9.WarpSans"

  "PM_Mono_Colors"           "ActiveBorder"          "  0   0   0"
  "PM_Mono_Colors"           "ActiveTitle"           "  0   0   0"
  "PM_Mono_Colors"           "ActiveTitleText"       "255 255 255"
  "PM_Mono_Colors"           "ActiveTitleTextBgnd"   "  0   0   0"
  "PM_Mono_Colors"           "AppWorkspace"          "255 255 255"
  "PM_Mono_Colors"           "Background"            "255 255 255"
  "PM_Mono_Colors"           "ButtonDark"            "  0   0   0"
  "PM_Mono_Colors"           "ButtonDefault"         "  0   0   0"
  "PM_Mono_Colors"           "ButtonLight"           "255 255 255"
  "PM_Mono_Colors"           "ButtonMiddle"          "255 255 255"
  "PM_Mono_Colors"           "DialogBackground"      "255 255 255"
  "PM_Mono_Colors"           "EntryField"            "255 255 255"
  "PM_Mono_Colors"           "FieldBackground"       "255 255 255"
  "PM_Mono_Colors"           "HelpBackground"        "255 255 255"
  "PM_Mono_Colors"           "HelpHilite"            "  0   0   0"
  "PM_Mono_Colors"           "HelpText"              "  0   0   0"
  "PM_Mono_Colors"           "HiliteBackground"      "128 128 128"
  "PM_Mono_Colors"           "HiliteForeground"      "255 255 255"
  "PM_Mono_Colors"           "IconText"              "  0   0   0"
  "PM_Mono_Colors"           "InactiveBorder"        "255 255 255"
  "PM_Mono_Colors"           "InactiveTitle"         "255 255 255"
  "PM_Mono_Colors"           "InactiveTitleText"     "  0   0   0"
  "PM_Mono_Colors"           "InactiveTitleTextBgnd" "255 255 255"
  "PM_Mono_Colors"           "Menu"                  "255 255 255"
  "PM_Mono_Colors"           "MenuText"              "  0   0   0"
  "PM_Mono_Colors"           "MenuHilite"            "  0   0   0"
  "PM_Mono_Colors"           "MenuHiliteText"        "255 255 255"
  "PM_Mono_Colors"           "MenuDisabledText"      "  0   0   0"
  "PM_Mono_Colors"           "OutputText"            "  0   0   0"
  "PM_Mono_Colors"           "PageBackground"        "255 255 255"
  "PM_Mono_Colors"           "Scrollbar"             "128 128 128"
  "PM_Mono_Colors"           "Shadow"                "  0   0   0"
  "PM_Mono_Colors"           "ShadowHiliteBgnd"      "128 128 128"
  "PM_Mono_Colors"           "ShadowHiliteFgnd"      "255 255 255"
  "PM_Mono_Colors"           "ShadowText"            "  0   0   0"
  "PM_Mono_Colors"           "TitleBottom"           "  0   0   0"
  "PM_Mono_Colors"           "TitleText"             "255 255 255"
  "PM_Mono_Colors"           "Window"                "255 255 255"
  "PM_Mono_Colors"           "WindowFrame"           "  0   0   0"
  "PM_Mono_Colors"           "WindowStaticText"      "  0   0   0"
  "PM_Mono_Colors"           "WindowText"            "  0   0   0"
  "PM_Mono_Colors"           "FolderIconTextBackground"    "T255 255 255"
  "PM_Mono_Colors"           "DesktopIconTextBackground"   "T255 255 255"
  "PM_Mono_Colors"           "DesktopIconText"             "  0   0   0"
  "PM_Mono_Colors"           "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Mono_Colors"           "MenuTextFont"          "9.WarpSans Bold"
  "PM_Mono_Colors"           "IconTextFont"          "9.WarpSans"
  "PM_Mono_Colors"           "WindowTextFont"        "9.WarpSans"

  "PM_Lcd_Colors"            "ActiveBorder"          "128   0   0"
  "PM_Lcd_Colors"            "ActiveTitle"           "128   0   0"
  "PM_Lcd_Colors"            "ActiveTitleText"       "255 255 255"
  "PM_Lcd_Colors"            "ActiveTitleTextBgnd"   "128   0   0"
  "PM_Lcd_Colors"            "AppWorkspace"          "255 255 255"
  "PM_Lcd_Colors"            "Background"            "255 255 255"
  "PM_Lcd_Colors"            "ButtonDark"            "128 128 128"
  "PM_Lcd_Colors"            "ButtonDefault"         "  0   0   0"
  "PM_Lcd_Colors"            "ButtonLight"           "255 255 255"
  "PM_Lcd_Colors"            "ButtonMiddle"          "204 204 204"
  "PM_Lcd_Colors"            "DialogBackground"      "204 204 204"
  "PM_Lcd_Colors"            "EntryField"            "255 255 255"
  "PM_Lcd_Colors"            "FieldBackground"       "204 204 204"
  "PM_Lcd_Colors"            "HelpBackground"        "255 255 255"
  "PM_Lcd_Colors"            "HelpHilite"            "  0   0 128"
  "PM_Lcd_Colors"            "HelpText"              "  0   0   0"
  "PM_Lcd_Colors"            "HiliteBackground"      "128 128 128"
  "PM_Lcd_Colors"            "HiliteForeground"      "  0   0   0"
  "PM_Lcd_Colors"            "IconText"              "  0   0   0"
  "PM_Lcd_Colors"            "InactiveBorder"        "204 204 204"
  "PM_Lcd_Colors"            "InactiveTitle"         "204 204 204"
  "PM_Lcd_Colors"            "InactiveTitleText"     "  0 128 128"
  "PM_Lcd_Colors"            "InactiveTitleTextBgnd" "204 204 204"
  "PM_Lcd_Colors"            "Menu"                  "204 204 204"
  "PM_Lcd_Colors"            "MenuText"              "  0   0   0"
  "PM_Lcd_Colors"            "MenuHilite"            "128   0   0"
  "PM_Lcd_Colors"            "MenuHiliteText"        "255 255 255"
  "PM_Lcd_Colors"            "MenuDisabledText"      "160 160 160"
  "PM_Lcd_Colors"            "OutputText"            "  0   0   0"
  "PM_Lcd_Colors"            "PageBackground"        "255 255 255"
  "PM_Lcd_Colors"            "Scrollbar"             "  0 255 255"
  "PM_Lcd_Colors"            "Shadow"                "128 128 128"
  "PM_Lcd_Colors"            "ShadowHiliteBgnd"      "128 128 128"
  "PM_Lcd_Colors"            "ShadowHiliteFgnd"      "  0   0   0"
  "PM_Lcd_Colors"            "ShadowText"            "128 128 128"
  "PM_Lcd_Colors"            "TitleBottom"           "128 128 128"
  "PM_Lcd_Colors"            "TitleText"             "255 255 255"
  "PM_Lcd_Colors"            "Window"                "255 255 255"
  "PM_Lcd_Colors"            "WindowFrame"           "128 128 128"
  "PM_Lcd_Colors"            "WindowStaticText"      "  0   0   0"
  "PM_Lcd_Colors"            "WindowText"            "  0   0   0"
  "PM_Lcd_Colors"            "FolderIconTextBackground"    "T255 255 255"
  "PM_Lcd_Colors"            "DesktopIconTextBackground"   "T255 255 255"
  "PM_Lcd_Colors"            "DesktopIconText"             "  0   0   0"
  "PM_Lcd_Colors"            "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Lcd_Colors"            "MenuTextFont"          "9.WarpSans Bold"
  "PM_Lcd_Colors"            "IconTextFont"          "9.WarpSans"
  "PM_Lcd_Colors"            "WindowTextFont"        "9.WarpSans"

  "PM_Mauve_Colors"          "ActiveBorder"          "204 204 204"
  "PM_Mauve_Colors"          "ActiveTitle"           " 66  66 191"
  "PM_Mauve_Colors"          "ActiveTitleText"       "255 255 255"
  "PM_Mauve_Colors"          "ActiveTitleTextBgnd"   " 66  66 191"
  "PM_Mauve_Colors"          "AppWorkspace"          "204 204 204"
  "PM_Mauve_Colors"          "Background"            "127 127 255"
  "PM_Mauve_Colors"          "ButtonDark"            "128 128 128"
  "PM_Mauve_Colors"          "ButtonDefault"         "  0   0   0"
  "PM_Mauve_Colors"          "ButtonLight"           "255 255 255"
  "PM_Mauve_Colors"          "ButtonMiddle"          "204 204 204"
  "PM_Mauve_Colors"          "DialogBackground"      "204 204 204"
  "PM_Mauve_Colors"          "EntryField"            "255 255 255"
  "PM_Mauve_Colors"          "FieldBackground"       "204 204 204"
  "PM_Mauve_Colors"          "HelpBackground"        "255 255 255"
  "PM_Mauve_Colors"          "HelpHilite"            "  0   0 255"
  "PM_Mauve_Colors"          "HelpText"              "  0   0   0"
  "PM_Mauve_Colors"          "HiliteBackground"      "128 128 128"
  "PM_Mauve_Colors"          "HiliteForeground"      "255 255 255"
  "PM_Mauve_Colors"          "IconText"              "  0   0   0"
  "PM_Mauve_Colors"          "InactiveBorder"        "204 204 204"
  "PM_Mauve_Colors"          "InactiveTitle"         "128 128 128"
  "PM_Mauve_Colors"          "InactiveTitleText"     "204 204 204"
  "PM_Mauve_Colors"          "InactiveTitleTextBgnd" "128 128 128"
  "PM_Mauve_Colors"          "Menu"                  "204 204 204"
  "PM_Mauve_Colors"          "MenuText"              "  0   0   0"
  "PM_Mauve_Colors"          "MenuHilite"            " 66  66 191"
  "PM_Mauve_Colors"          "MenuHiliteText"        "255 255 255"
  "PM_Mauve_Colors"          "MenuDisabledText"      "160 160 160"
  "PM_Mauve_Colors"          "OutputText"            "  0   0   0"
  "PM_Mauve_Colors"          "PageBackground"        "255 255 255"
  "PM_Mauve_Colors"          "Scrollbar"             "192 192 192"
  "PM_Mauve_Colors"          "Shadow"                "128 128 128"
  "PM_Mauve_Colors"          "ShadowHiliteBgnd"      "128 128 128"
  "PM_Mauve_Colors"          "ShadowHiliteFgnd"      "255 255 255"
  "PM_Mauve_Colors"          "ShadowText"            "128 128 128"
  "PM_Mauve_Colors"          "TitleBottom"           "128 128 128"
  "PM_Mauve_Colors"          "TitleText"             "255 255 255"
  "PM_Mauve_Colors"          "Window"                "255 255 255"
  "PM_Mauve_Colors"          "WindowFrame"           "128 128 128"
  "PM_Mauve_Colors"          "WindowStaticText"      "  0   0 128"
  "PM_Mauve_Colors"          "WindowText"            "  0   0   0"
  "PM_Mauve_Colors"          "FolderIconTextBackground"    "T255 255 255"
  "PM_Mauve_Colors"          "DesktopIconTextBackground"   "204 204 204"
  "PM_Mauve_Colors"          "DesktopIconText"             "  0   0   0"
  "PM_Mauve_Colors"          "DesktopBackgroundBitmap"     "\os2\bitmap\matmauv.bmp"
  "PM_Mauve_Colors"          "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Mauve_Colors"          "MenuTextFont"          "9.WarpSans Bold"
  "PM_Mauve_Colors"          "IconTextFont"          "9.WarpSans"
  "PM_Mauve_Colors"          "WindowTextFont"        "9.WarpSans"

  "PM_Lilac_Colors"          "ActiveBorder"          "255 255 128"
  "PM_Lilac_Colors"          "ActiveTitle"           " 66  66 191"
  "PM_Lilac_Colors"          "ActiveTitleText"       "255 255 255"
  "PM_Lilac_Colors"          "ActiveTitleTextBgnd"   " 66  66 191"
  "PM_Lilac_Colors"          "AppWorkspace"          "204 204 204"
  "PM_Lilac_Colors"          "Background"            "128 128 255"
  "PM_Lilac_Colors"          "ButtonDark"            "128 128 128"
  "PM_Lilac_Colors"          "ButtonDefault"         "  0   0   0"
  "PM_Lilac_Colors"          "ButtonLight"           "255 255 255"
  "PM_Lilac_Colors"          "ButtonMiddle"          "204 204 204"
  "PM_Lilac_Colors"          "DialogBackground"      "204 204 204"
  "PM_Lilac_Colors"          "EntryField"            "255 255 255"
  "PM_Lilac_Colors"          "FieldBackground"       "204 204 204"
  "PM_Lilac_Colors"          "HelpBackground"        "255 255 255"
  "PM_Lilac_Colors"          "HelpHilite"            "  0   0 255"
  "PM_Lilac_Colors"          "HelpText"              "  0   0   0"
  "PM_Lilac_Colors"          "HiliteBackground"      "128 128 128"
  "PM_Lilac_Colors"          "HiliteForeground"      "255 255 255"
  "PM_Lilac_Colors"          "IconText"              "  0   0   0"
  "PM_Lilac_Colors"          "InactiveBorder"        "204 204 204"
  "PM_Lilac_Colors"          "InactiveTitle"         "128 128 128"
  "PM_Lilac_Colors"          "InactiveTitleText"     "204 204 204"
  "PM_Lilac_Colors"          "InactiveTitleTextBgnd" "128 128 128"
  "PM_Lilac_Colors"          "Menu"                  "204 204 204"
  "PM_Lilac_Colors"          "MenuText"              "  0   0   0"
  "PM_Lilac_Colors"          "MenuHilite"            " 66  66 191"
  "PM_Lilac_Colors"          "MenuHiliteText"        "255 255 255"
  "PM_Lilac_Colors"          "MenuDisabledText"      "160 160 160"
  "PM_Lilac_Colors"          "OutputText"            "  0   0   0"
  "PM_Lilac_Colors"          "PageBackground"        "255 255 255"
  "PM_Lilac_Colors"          "Scrollbar"             "192 192 192"
  "PM_Lilac_Colors"          "Shadow"                "128 128 128"
  "PM_Lilac_Colors"          "ShadowHiliteBgnd"      "128 128 128"
  "PM_Lilac_Colors"          "ShadowHiliteFgnd"      "255 255 255"
  "PM_Lilac_Colors"          "ShadowText"            "128 128 128"
  "PM_Lilac_Colors"          "TitleBottom"           "128 128 128"
  "PM_Lilac_Colors"          "TitleText"             "255 255 255"
  "PM_Lilac_Colors"          "Window"                "255 255 255"
  "PM_Lilac_Colors"          "WindowFrame"           "128 128 128"
  "PM_Lilac_Colors"          "WindowStaticText"      "  0   0 128"
  "PM_Lilac_Colors"          "WindowText"            "  0   0   0"
  "PM_Lilac_Colors"          "FolderIconTextBackground"    "T255 255 255"
  "PM_Lilac_Colors"          "DesktopIconTextBackground"   "255 255 255"
  "PM_Lilac_Colors"          "DesktopIconText"             "  0   0 255"
  "PM_Lilac_Colors"          "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Lilac_Colors"          "MenuTextFont"          "9.WarpSans Bold"
  "PM_Lilac_Colors"          "IconTextFont"          "9.WarpSans"
  "PM_Lilac_Colors"          "WindowTextFont"        "9.WarpSans"

  "PM_Blueberry_Colors"      "ActiveBorder"          "204 204 204"
  "PM_Blueberry_Colors"      "ActiveTitle"           " 64  64 128"
  "PM_Blueberry_Colors"      "ActiveTitleText"       "255 255 255"
  "PM_Blueberry_Colors"      "ActiveTitleTextBgnd"   " 64  64 128"
  "PM_Blueberry_Colors"      "AppWorkspace"          "204 204 204"
  "PM_Blueberry_Colors"      "Background"            "128  64 128"
  "PM_Blueberry_Colors"      "ButtonDark"            "128 128 128"
  "PM_Blueberry_Colors"      "ButtonDefault"         "  0   0   0"
  "PM_Blueberry_Colors"      "ButtonLight"           "255 255 255"
  "PM_Blueberry_Colors"      "ButtonMiddle"          "204 204 204"
  "PM_Blueberry_Colors"      "DialogBackground"      "204 204 204"
  "PM_Blueberry_Colors"      "EntryField"            "255 255 255"
  "PM_Blueberry_Colors"      "FieldBackground"       "204 204 204"
  "PM_Blueberry_Colors"      "HelpBackground"        "255 255 255"
  "PM_Blueberry_Colors"      "HelpHilite"            "  0   0 255"
  "PM_Blueberry_Colors"      "HelpText"              "  0   0   0"
  "PM_Blueberry_Colors"      "HiliteBackground"      "128 128 128"
  "PM_Blueberry_Colors"      "HiliteForeground"      "255 255 255"
  "PM_Blueberry_Colors"      "IconText"              "  0   0   0"
  "PM_Blueberry_Colors"      "InactiveBorder"        "204 204 204"
  "PM_Blueberry_Colors"      "InactiveTitle"         "128 128 128"
  "PM_Blueberry_Colors"      "InactiveTitleText"     "204 204 204"
  "PM_Blueberry_Colors"      "InactiveTitleTextBgnd" "128 128 128"
  "PM_Blueberry_Colors"      "Menu"                  "204 204 204"
  "PM_Blueberry_Colors"      "MenuText"              "  0   0   0"
  "PM_Blueberry_Colors"      "MenuHilite"            " 64  64 128"
  "PM_Blueberry_Colors"      "MenuHiliteText"        "255 255 255"
  "PM_Blueberry_Colors"      "MenuDisabledText"      "160 160 160"
  "PM_Blueberry_Colors"      "OutputText"            "  0   0   0"
  "PM_Blueberry_Colors"      "PageBackground"        "255 255 255"
  "PM_Blueberry_Colors"      "Scrollbar"             "192 192 192"
  "PM_Blueberry_Colors"      "Shadow"                "128 128 128"
  "PM_Blueberry_Colors"      "ShadowHiliteBgnd"      "128 128 128"
  "PM_Blueberry_Colors"      "ShadowHiliteFgnd"      "255 255 255"
  "PM_Blueberry_Colors"      "ShadowText"            "204 204 204"
  "PM_Blueberry_Colors"      "TitleBottom"           "128 128 128"
  "PM_Blueberry_Colors"      "TitleText"             "255 255 255"
  "PM_Blueberry_Colors"      "Window"                "255 255 255"
  "PM_Blueberry_Colors"      "WindowFrame"           "128 128 128"
  "PM_Blueberry_Colors"      "WindowStaticText"      "  0   0 128"
  "PM_Blueberry_Colors"      "WindowText"            "  0   0   0"
  "PM_Blueberry_Colors"      "FolderIconTextBackground"    "T255 255 255"
  "PM_Blueberry_Colors"      "DesktopIconTextBackground"   "T128  64 128"
  "PM_Blueberry_Colors"      "DesktopIconText"             "255 255 255"
  "PM_Blueberry_Colors"      "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Blueberry_Colors"      "MenuTextFont"          "9.WarpSans Bold"
  "PM_Blueberry_Colors"      "IconTextFont"          "9.WarpSans"
  "PM_Blueberry_Colors"      "WindowTextFont"        "9.WarpSans"

  "PM_Wall_Street_Colors"    "ActiveBorder"          "204 204 204"
  "PM_Wall_Street_Colors"    "ActiveTitle"           "  0   0   0"
  "PM_Wall_Street_Colors"    "ActiveTitleText"       "255 255 255"
  "PM_Wall_Street_Colors"    "ActiveTitleTextBgnd"   "  0   0   0"
  "PM_Wall_Street_Colors"    "AppWorkspace"          "204 204 204"
  "PM_Wall_Street_Colors"    "Background"            "127 127 127"
  "PM_Wall_Street_Colors"    "ButtonDark"            "128 128 128"
  "PM_Wall_Street_Colors"    "ButtonDefault"         "  0   0   0"
  "PM_Wall_Street_Colors"    "ButtonLight"           "255 255 255"
  "PM_Wall_Street_Colors"    "ButtonMiddle"          "204 204 204"
  "PM_Wall_Street_Colors"    "DialogBackground"      "204 204 204"
  "PM_Wall_Street_Colors"    "EntryField"            "255 255 255"
  "PM_Wall_Street_Colors"    "FieldBackground"       "204 204 204"
  "PM_Wall_Street_Colors"    "HelpBackground"        "255 255 255"
  "PM_Wall_Street_Colors"    "HelpHilite"            "  0   0 255"
  "PM_Wall_Street_Colors"    "HelpText"              "  0   0   0"
  "PM_Wall_Street_Colors"    "HiliteBackground"      "128 128 128"
  "PM_Wall_Street_Colors"    "HiliteForeground"      "255 255 255"
  "PM_Wall_Street_Colors"    "IconText"              "  0   0   0"
  "PM_Wall_Street_Colors"    "InactiveBorder"        "204 204 204"
  "PM_Wall_Street_Colors"    "InactiveTitle"         "128 128 128"
  "PM_Wall_Street_Colors"    "InactiveTitleText"     "204 204 204"
  "PM_Wall_Street_Colors"    "InactiveTitleTextBgnd" "128 128 128"
  "PM_Wall_Street_Colors"    "Menu"                  "204 204 204"
  "PM_Wall_Street_Colors"    "MenuText"              "  0   0   0"
  "PM_Wall_Street_Colors"    "MenuHilite"            " 64   0 128"
  "PM_Wall_Street_Colors"    "MenuHiliteText"        "255 255 255"
  "PM_Wall_Street_Colors"    "MenuDisabledText"      "160 160 160"
  "PM_Wall_Street_Colors"    "OutputText"            "  0   0   0"
  "PM_Wall_Street_Colors"    "PageBackground"        "255 255 255"
  "PM_Wall_Street_Colors"    "Scrollbar"             "192 192 192"
  "PM_Wall_Street_Colors"    "Shadow"                "128 128 128"
  "PM_Wall_Street_Colors"    "ShadowHiliteBgnd"      "128 128 128"
  "PM_Wall_Street_Colors"    "ShadowHiliteFgnd"      "255 255 255"
  "PM_Wall_Street_Colors"    "ShadowText"            "204 204 204"
  "PM_Wall_Street_Colors"    "TitleBottom"           "128 128 128"
  "PM_Wall_Street_Colors"    "TitleText"             "255 255 255"
  "PM_Wall_Street_Colors"    "Window"                "255 255 255"
  "PM_Wall_Street_Colors"    "WindowFrame"           "128 128 128"
  "PM_Wall_Street_Colors"    "WindowStaticText"      "  0   0 128"
  "PM_Wall_Street_Colors"    "WindowText"            "  0   0   0"
  "PM_Wall_Street_Colors"    "FolderIconTextBackground"        "T255 255 255"
  "PM_Wall_Street_Colors"    "DesktopIconTextBackground"       "  0   0   0"
  "PM_Wall_Street_Colors"    "DesktopIconText"                 "255 255 255"
  "PM_Wall_Street_Colors"    "DesktopBackgroundBitmap"         "\os2\bitmap\gmarble.bmp"
  "PM_Wall_Street_Colors"    "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Wall_Street_Colors"    "MenuTextFont"          "9.WarpSans Bold"
  "PM_Wall_Street_Colors"    "IconTextFont"          "9.WarpSans"
  "PM_Wall_Street_Colors"    "WindowTextFont"        "9.WarpSans"

  "PM_SOUND_SCHEMES_LIST" "Desktop"          "PM_SOUNDS_DESKTOP"

  "PM_SOUNDS_DESKTOP" "0" "<@@mmbase_path@@>sounds\desktop\dsk_warn.wav"
  "PM_SOUNDS_DESKTOP" "1" "<@@mmbase_path@@>sounds\desktop\dsk_info.wav"
  "PM_SOUNDS_DESKTOP" "2" "<@@mmbase_path@@>sounds\desktop\dsk_err.wav"
  "PM_SOUNDS_DESKTOP" "3" "<@@mmbase_path@@>sounds\desktop\dsk_opnw.wav"
  "PM_SOUNDS_DESKTOP" "4" "<@@mmbase_path@@>sounds\desktop\dsk_clsw.wav"
  "PM_SOUNDS_DESKTOP" "5" "<@@mmbase_path@@>sounds\desktop\dsk_drag.wav"
  "PM_SOUNDS_DESKTOP" "6" "<@@mmbase_path@@>sounds\desktop\dsk_drop.wav"
  "PM_SOUNDS_DESKTOP" "7" "<@@mmbase_path@@>sounds\desktop\dsk_strt.wav"
  "PM_SOUNDS_DESKTOP" "8" "<@@mmbase_path@@>sounds\desktop\dsk_shut.wav"
  "PM_SOUNDS_DESKTOP" "9" "<@@mmbase_path@@>sounds\desktop\dsk_shrd.wav"
  "PM_SOUNDS_DESKTOP" "10" "<@@mmbase_path@@>sounds\desktop\dsk_lckp.wav"
  "PM_SOUNDS_DESKTOP" "11" "<@@mmbase_path@@>sounds\desktop\dsk_alar.wav"
  "PM_SOUNDS_DESKTOP" "12" "<@@mmbase_path@@>sounds\desktop\dsk_perr.wav"

  "PM_Default_Colors"  "SoundSchemeName"       "Desktop"
  "PM_Colors"          "SoundSchemeName"       "Desktop"

  ""                         ""                 ""
END

