"PM_InstallObject"  "Multimedia;WPFolder;<WP_PROGRAMSFOLDER>"  "NOPRINT=YES;MINWIN=VIEWER;HIDEBUTTON=YES;DEFAULTVIEW=CONTENTS;;;ICONPOS=46,434;SELFCLOSE=1;ICONVIEWPOS=43 56 37 38;ICONFONT=9.WarpSans;DETAILSFONT=9.WarpSans;TREEFONT=9.WarpSans;ICONVIEW=FLOWED,NORMAL;DETAILSVIEW=MINI;TREEVIEW=LINES,MINI;OBJECTID=<MMPM2_FOLDER>;"
  "PM_InstallObject"  "Movies;WPShadow;<MMPM2_FOLDER>"  "NOPRINT=YES;MINWIN=VIEWER;HIDEBUTTON=YES;DEFAULTVIEW=UNKNOWN;HELPPANEL=48033;HELPLIBRARY=MMPARTS.HLP;SHADOWID=<WP_MOVIES>;ICONPOS=4294966982,120;OBJECTID=<MMPM2_MOVIES>;"
  "PM_InstallObject"  "Bitmaps;WPShadow;<MMPM2_FOLDER>"  "NOPRINT=YES;MINWIN=VIEWER;HIDEBUTTON=YES;DEFAULTVIEW=UNKNOWN;HELPPANEL=48033;HELPLIBRARY=MMPARTS.HLP;SHADOWID=G:\OS2\Bitmap;ICONPOS=4294967004,128;OBJECTID=<MMPM2_BITMAP>;"
  "PM_InstallObject"  "Image;MMFinder;<MMPM2_FOLDER>"  "NOPRINT=YES;;ICONPOS=4294966976,175;OBJECTID=<MMPM2_IMAGEFINDER>;"
  "PM_InstallObject"  "Compact Disc;MMCDDevice;<MMPM2_FOLDER>"  "NOPRINT=YES;CCVIEW=NO;;ICONPOS=4294966989,182;OBJECTID=<MMPM2_MMCDDEVICE01>;"
  "PM_InstallObject"  "Volume;MMVolume;<MMPM2_FOLDER>"  "NOCOPY=YES;NODELETE=YES;NOPRINT=YES;CCVIEW=NO;;ICONPOS=4294966976,182;OBJECTID=<MMPM2_MMVOLUME>;"
  "PM_InstallObject"  "MIDI;MMFinder;<MMPM2_FOLDER>"  "NOPRINT=YES;;ICONPOS=4294967002,182;OBJECTID=<MMPM2_MIDIFINDER>;"
  "PM_InstallObject"  "Sound;WPShadow;<MMPM2_FOLDER>"  "NOPRINT=YES;MINWIN=VIEWER;HIDEBUTTON=YES;DEFAULTVIEW=UNKNOWN;HELPPANEL=1186;SHADOWID=<WP_SOUND>;ICONPOS=4294966976,120;OBJECTID=<MMPM2_SNDSHAD>;"
  "PM_InstallObject"  "Sound Bites;WPShadow;<MMPM2_FOLDER>"  "NOPRINT=YES;MINWIN=VIEWER;HIDEBUTTON=YES;DEFAULTVIEW=UNKNOWN;HELPPANEL=1277;SHADOWID=G:\MMOS2\Sounds;ICONPOS=4294966988,120;OBJECTID=<MMPM2_SOUNDS>;"
  "PM_InstallObject"  "Digital video;MMFinder;<MMPM2_FOLDER>"  "NOPRINT=YES;;ICONPOS=4294966982,175;OBJECTID=<MMPM2_VIDEOFINDER>;"
  "PM_InstallObject"  "Digital audio;MMFinder;<MMPM2_FOLDER>"  "NOPRINT=YES;;ICONPOS=4294966996,182;OBJECTID=<MMPM2_AUDIOFINDER>;"

  "PM_InstallObject"  "Multimedia^Setup;WPProgram;<WP_CONFIG>"  "EXENAME=E:\MMOS2\STPM.EXE;PROGTYPE=PM;STARTUPDIR=E:\MMOS2;OBJECTID=<MMPM2_SETUP>;"